* {
	padding: 0;
	margin: 0;
}

body {
	padding: 100px 0;
	background: rgb(247, 247, 247);
	font-family: Arial;
	color: #333;
}

#tabs {
	width: 600px;
	margin: auto;
	padding-top: 20px;
}

#tabs>ul {
	list-style-type: none;
	display: flex;
}

#tabs div>img {
	display: none;
	width: 80px;
}

#tabs div>img:first-of-type {
	margin: auto;
	display: block;
	padding: 15px 0;
}

#tabs>ul>li>a {
	display: block;
	height: 30px;
	line-height: 30px;
	margin-right: 2px;
	background: #a2a2a2;
	color: rgb(247, 247, 247);
	text-decoration: none;
	padding: 0 15px;
	border-radius: 3px 3px 0 0;
}

#tabs>div {
	display: none;
	padding: 15px;
	background: #eaeaea;
}

#tabs>div:first-of-type {
	display: block;
	background: #eaeaea;
}

#tabs>ul>li:first-of-type a {
	color: #333;
	background: #eaeaea;
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

.tabHeading {
	text-align: center;
	padding: 15px;
}

.brownies {
	width: 600px;
	margin: auto;
	display: block;
	padding-bottom: 20px;
}

.upperBody {
	width: 600px;
	margin: auto;
	display: block;
	padding: 15px;
}